@media screen and (max-width: 760px) {
    .cabecalho-navegacao {
        flex-direction: column;
    }

    .conteudo-principal {
        margin: 20px;
    }

    .conteudo-principal-titulo {
        font-size: 28px;
    }

    .conteudo-principal-subtitulo {
        font-size: 18px;
    }

     .conteudo-principal-botao {
        margin: 5px;
        width: 140px;
        height: 60px;
        font-size: 20px;
    }

    .conteudo-principal-image {
        height: 20vh;
    }

    .conteudo-secundario-paragrafo {
        margin: 20px;
    }
}